// Färgvariabler etc.
$primaryDelete: #c74747;
$primaryGreen: #45a148;
$hoverOnGreen: #27742b;
$hoverOnRed: rgb(148, 49, 49);
$containerGrey: #908d8d;
$noteWhite: #dedede;
$backgroundGrey: rgb(23, 23, 23);