@import "../abstract/colors";
@import "../abstract/mixin";

.container {
    max-width: 900px;
    margin: 50px auto;
    background-color: $containerGrey;
    padding: 3rem;
    border-radius: 5px;
   
    display: flex;
    justify-content: space-between;
    animation: slideinleft 1s ease forwards;
}

@include slideAnimation;