
#digital-timer{
	background-color: $digitalBlue;
	display: none;
	flex-direction: column;
	width: 23.4375rem;
	height: 41.6875rem;
	position: relative;
	border-radius: 0.5rem;
	align-items: center;

		.dropdown-button{
			@include menuIcon();
			position: absolute;
		}

		#timer-display {
			color: #FFF;
			font-size: 6rem;
			justify-content: center;
			align-items: center;
			display: flex;
			height: 100%;
			width: 23.43rem;
			font-size: 5rem;
			font-family: $primaryFont;
		}

			.stop-button {
				@include abortButton(transparent);
				display: flex;
				justify-content: center;
				align-items: center;
				bottom: 3rem;
				position: absolute;
			  }
			
			  .stop-button:hover {
				background-color: #FFF;
				color: #d74444;
				cursor: pointer;
			  }		
		}
	
	#timer-display-break {
	display: none;
}
	