// Färgvariabler etc.
$analogBlue: #2F80ED;
$digitalBlue: #2D9CDB;
$setTimerGrey: #333333;
$timesUpRed: #D74344;
$pauseBreathGreen:#219653;
$dropdownMenuBlack: rgba(0, 0, 0, 0.90);
$visualOrange: #F2994A;
	