@mixin abortButton($background-color){
	height: 2.56rem;
	width: 8.25rem;
	background-color: $background-color;
	border-radius: 3px;
	border: 1px solid #ffffffaf;
	font-weight: 500;
	font-family: $primaryFont;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
	color: #ffffffaf;

}

@mixin menuIcon(){
	background-color: transparent;
	border: none;
	top: 1rem;
	left: 1rem;
	position: absolute;
}

@mixin slideAnimation(){

	@keyframes slideinleft {
		from {
		  opacity: 0;
		  transform: translateX(-100%);
		}
		50% {
		}
		to {
		  opacity: 1;
		  transform: translateX(0%);
		}
	  }
	  
	

}

